* {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    ;
}

/* ---- Header --- */

nav {
    display: block;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
}

.logo-img {
    height: 50px;
    margin-left: 10px; 
    padding-top: 7px;
}

.navg {
    float: right;
    margin-right: 15px;
    
}

.navg li{
    display: inline;
    padding-right: 15px;
}

.navg a {
    color: seashell;
    text-decoration: underline;
}
