body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    ;
}

/* ---- Nav --- */

nav {
    display: block;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: black;
}

.logo-img {
    height: 50px;
    margin-left: 10px; 
    padding-top: 7px;
}

.navg {
    float: right;
    margin-right: 15px;
    
}

.navg li{
    display: inline;
    padding-right: 15px;
}

.navg a {
    color: seashell;
    text-decoration: underline;
}

/* --- Header --- */

.backgr-img {
    height: 700px;
    width: 1200px;
    position: relative;
    margin-top: 70px;
}