body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    ;
}

/* ---- Header --- */

header {
    display: block;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
}

.logo-img {
    height: 50px;
    margin-left: 10px; 
}

.nav {
    float: right;
    margin-right: 15px;
    
}

.nav li{
    display: inline;
}

.nav a {
    color: seashell;
    text-decoration: underline;
}
